.App {
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,600");

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: contain;
  font-family: Montserrat;
}

#root {
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
